<script src="/static/admin/plugins/core/pace/pace.min.js"></script>
<!-- Important javascript libs(put in all pages) -->
<script src="/static/admin/js/jquery-1.8.3.min.js"></script>
<script src="/static/admin/js/libs/jquery-ui-1.10.4.min.js"></script>
<!-- Bootstrap plugins -->
<script src="/static/admin/js/bootstrap/bootstrap.js"></script>
<!-- Form plugins -->
<script src="/static/admin/plugins/forms/icheck/jquery.icheck.js"></script>
<script src="/static/admin/plugins/forms/validation/jquery.validate.js"></script>
<script src="/static/admin/plugins/forms/validation/additional-methods.min.js"></script>