<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{title}}</title>
        {(admin/include/head.html)}
    </head>
    <body class="login-page">
        <!-- Start #login -->
        <div id="login" class="animated bounceIn">
            <img id="logo" src="/static/admin/img/logo.png" alt="sprFlat Logo">
            <!-- Start .login-wrapper -->
            <div class="login-wrapper">
                <ul id="myTab" class="nav nav-tabs nav-justified bn">
                    <li>
                        <a href="#log-in" data-toggle="tab">登录</a>
                    </li>
                    <li class="">
                        <a href="#register" data-toggle="tab">注册</a>
                    </li>
                </ul>
                <div id="myTabContent" class="tab-content bn">
                    <div class="tab-pane fade active in" id="log-in">
                        <div class="social-buttons text-center mt10">
                            <h3>后台管理系统登录</h3>
                        </div>
                        <div class="seperator">
                            <hr>
                        </div>
                        <form class="form-horizontal mt10" action="/admin/passport/checklogin" id="login-form" role="form">
                            <div class="form-group">
                                <div class="col-lg-12">
                                    <input type="text" name="account" id="account" class="form-control left-icon" value="" placeholder="账号">
                                    <i class="ec-user s16 left-input-icon"></i>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-lg-12">
                                    <input type="password" name="password" id="password" class="form-control left-icon" value="" placeholder="密码">
                                    <i class="ec-locked s16 left-input-icon"></i>
                                    <span class="help-block"><a href="/admin/passport/forgot"><small>忘记密码 ?</small></a></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-8">
                                    <!-- col-lg-12 start here -->
                                    <label class="checkbox">
                                        <input type="checkbox" name="remember" id="remember" value="1"> 记住密码 ?
                                    </label>
                                </div>
                                <!-- col-lg-12 end here -->
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-4">
                                    <!-- col-lg-12 start here -->
                                    <button class="btn btn-success pull-right" type="submit">登录</button>
                                </div>
                                <!-- col-lg-12 end here -->
                            </div>
                        </form>
                    </div>
                    <div class="tab-pane fade" id="register">
                        <div class="social-buttons text-center mt10">
                            <h3>后台管理申请账号</h3>
                        </div>
                        <div class="seperator">
                            <hr>
                        </div>
                        <form class="form-horizontal mt20" action="/admin/passport/register" method="post" id="register-form" role="form">
                            <div class="form-group">
                                <div class="col-lg-12">
                                    <!-- col-lg-12 start here -->
                                    <input  name="account" type="text" class="form-control left-icon" placeholder="账号">
                                    <i class="ec-user s16 left-input-icon"></i>
                                </div>
                                <!-- col-lg-12 end here -->
                            </div>
                            <div class="form-group">
                                <div class="col-lg-12">
                                    <!-- col-lg-12 start here -->
                                    <input type="password" class="form-control left-icon" id="reg-password" name="password" placeholder="密码">
                                    <i class="ec-locked s16 left-input-icon"></i> 
                                </div>
                                <!-- col-lg-12 end here -->
                                <div class="col-lg-12 mt15">
                                    <!-- col-lg-12 start here -->
                                    <input type="password" class="form-control left-icon" id="confirm_password" name="confirm_password" placeholder="确认密码">
                                    <i class="ec-locked s16 left-input-icon"></i> 
                                </div>
                                <!-- col-lg-12 end here -->
                            </div>
                            <div class="form-group">
                                <div class="col-lg-12">
                                    <!-- col-lg-12 start here -->
                                    <button class="btn btn-success btn-block">注册</button>
                                </div>
                                <!-- col-lg-12 end here -->
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- End #.login-wrapper -->
        </div>
        <!-- End #login -->
        {(admin/include/foot.html)}
        <!-- Init plugins olny for this page -->
        <script type="text/javascript" src="/static/admin/js/libs/layer/layer.js"></script>
        <script type="text/javascript" src="/static/admin/js/libs/jquery.md5.js"></script>
        <script type="text/javascript" src="/static/admin/js/libs/jquery.form.js"></script>
        <script src="/static/admin/js/pages/login.js"></script>
    </body>
</html>