
<div class="row">
    <div id="vmaig-content" class="col-md-8 col-lg-9">
        <div id="article-page" class="well">
            <ol class="breadcrumb">
                <li><a href="/"><span class="glyphicon glyphicon-home"></span></a></li>
                <li><a href="/">分类一</a></li>
                <li class="hidden-xs"><a><span class="glyphicon glyphicon-calendar"></span> 2012121</a></li>
                <li><a>
                    <span class="glyphicon glyphicon-eye-open"></span>
                    发布时间
                </a></li>
                <li class="pull-right"><a>
                    <span class="glyphicon glyphicon-user"></span> 作者
                </a></li>
            </ol>

            <div id="article">
                <div class="article-title">
                    <h1>标题</h1>
                </div>
                <div class="article-tags">

                    <a href="">
                        <span class="label  btn">标题一</span>
                    </a>

                </div>
                <hr/>
                <div class="article-content">

                </div>
            </div>
        </div>

    </div>

    <div id="vmaig-side" class="col-md-4 col-lg-3 hidden-xs">

        {(widgets/tags_cloud.html)}
        {(widgets/search.html)}
        {(widgets/hotest_posts.html)}
        {(widgets/links.html)}
    </div>
</div>


{-css-}
<link type="text/css" rel="stylesheet" href="/static/syntaxhighlighter/styles/shCoreDefault.css"/>
<style type="text/css">
    #article {
        font-size:14px;
        color:#000;
    }

    blockquote {
        font-size:14px;
    }
</style>
{-css-}


{-js-}
<script type="text/javascript" src="/static/syntaxhighlighter/scripts/shCore.js"></script>
<script type="text/javascript" src="/static/syntaxhighlighter/scripts/shBrushCpp.js"></script>
<script type="text/javascript" src="/static/syntaxhighlighter/scripts/shBrushJava.js"></script>
<script type="text/javascript" src="/static/syntaxhighlighter/scripts/shBrushPython.js"></script>
<script type="text/javascript" src="/static/syntaxhighlighter/scripts/shBrushXml.js"></script>
<script type="text/javascript" src="/static/syntaxhighlighter/scripts/shBrushPowerShell.js"></script>
<script type="text/javascript" src="/static/syntaxhighlighter/scripts/shBrushJScript.js"></script>
<script type="text/javascript">SyntaxHighlighter.all();</script>
{-js-}
