<div class="row">
    <!-- Start .row -->
    <!-- Start .page-header -->
    <div class="col-lg-12 heading">
        <h1 class="page-header"><i class="im-table2"></i> 用户管理 </h1>
        <!-- Start .bredcrumb -->
        <ul id="crumb" class="breadcrumb">
        </ul>
        <!-- End .breadcrumb -->
        <!-- Start .option-buttons -->
        <div class="option-buttons">
            <div class="btn-toolbar" role="toolbar">
                <div class="btn-group">
                    <a id="clear-localstorage" class="btn tip" title="Reset panels position">
                        <i class="ec-refresh color-red s24"></i>
                    </a>
                </div>
                <div class="btn-group dropdown">
                    <a class="btn dropdown-toggle" data-toggle="dropdown" id="dropdownMenu1"><i class="br-grid s24"></i></a>
                    <div class="dropdown-menu pull-right" role="menu" aria-labelledby="dropdownMenu1">
                        <div class="option-dropdown">
                            <div class="shortcut-button">
                                <a href="#">
                                    <i class="im-pie"></i>
                                    <span>Earning Stats</span>
                                </a>
                            </div>
                            <div class="shortcut-button">
                                <a href="#">
                                    <i class="ec-images color-dark"></i>
                                    <span>Gallery</span>
                                </a>
                            </div>
                            <div class="shortcut-button">
                                <a href="#">
                                    <i class="en-light-bulb color-orange"></i>
                                    <span>Fresh ideas</span>
                                </a>
                            </div>
                            <div class="shortcut-button">
                                <a href="#">
                                    <i class="ec-link color-blue"></i>
                                    <span>Links</span>
                                </a>
                            </div>
                            <div class="shortcut-button">
                                <a href="#">
                                    <i class="ec-support color-red"></i>
                                    <span>Support</span>
                                </a>
                            </div>
                            <div class="shortcut-button">
                                <a href="#">
                                    <i class="st-lock color-teal"></i>
                                    <span>Lock area</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="btn-group dropdown">
                    <a class="btn dropdown-toggle" data-toggle="dropdown" id="dropdownMenu2"><i class="ec-pencil s24"></i></a>
                    <div class="dropdown-menu pull-right" role="menu" aria-labelledby="dropdownMenu2">
                        <div class="option-dropdown">
                            <div class="row">
                                <p class="col-lg-12">Quick post</p>
                                <form class="form-horizontal" role="form">
                                    <div class="form-group">
                                        <div class="col-lg-12">
                                            <input type="text" class="form-control" placeholder="Enter title">
                                        </div>
                                    </div>
                                    <!-- End .form-group  -->
                                    <div class="form-group">
                                        <div class="col-lg-12">
                                            <textarea class="form-control wysiwyg" placeholder="Enter text"></textarea>
                                        </div>
                                    </div>
                                    <!-- End .form-group  -->
                                    <div class="form-group">
                                        <div class="col-lg-12">
                                            <input type="text" class="form-control tags1" placeholder="Enter tags">
                                        </div>
                                    </div>
                                    <!-- End .form-group  -->
                                    <div class="form-group">
                                        <div class="col-lg-12">
                                            <button class="btn btn-default btn-xs">Save Draft</button>
                                            <button class="btn btn-success btn-xs pull-right">Publish</button>
                                        </div>
                                    </div>
                                    <!-- End .form-group  -->
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="btn-group">
                    <a class="btn dropdown-toggle" data-toggle="dropdown" id="dropdownMenu3"><i class="ec-help s24"></i></a>
                    <div class="dropdown-menu pull-right" role="menu" aria-labelledby="dropdownMenu3">
                        <div class="option-dropdown">
                            <p>First time visitor ? <a href="#" id="app-tour" class="btn btn-success ml15">Take app tour</a>
                            </p>
                            <hr>
                            <p>Or check the <a href="#" class="btn btn-danger ml15">FAQ</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End .option-buttons -->
    </div>
    <!-- End .page-header -->
</div>
<!-- End .row -->
<div class="outlet">
    <!-- Start .outlet -->
    <!-- Page start here ( usual with .row ) -->
    <div class="row">
        <div class="col-lg-12">
            <!-- col-lg-12 start here -->
            <div class="panel panel-default plain toggle panelClose panelRefresh">
                <!-- Start .panel -->
                <div class="panel-heading white-bg">
                    <h4 class="panel-title">用户列表</h4>
                </div>
                <div class="panel-body">

                    <table class="table display" id="datatable">
                        <thead>
                            <tr>
                                <th>用户ID</th>
                                <th>账号</th>
                                <th>头像</th>
                                <th>邮箱</th>
                                <th>昵称</th>
                                <th>状态</th>
                                <th>添加时间</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if type(data.data) == 'table' then %}
                            {% for i, v in pairs(data.data) do %}
                                <tr class="odd gradeX">
                                    <td>{{v.uid}}</td>
                                    <td>{{v.account}}</td>
                                    <td>{{v.avatar}}</td>
                                    <td class="center">{{v.email}}</td>
                                    <td class="center">{{v.nickname}}</td>
                                    <td>{{v.status}}</td>
                                    <td>{{v.create_time}}</td>
                                    <td><a href=""><i class=""></i> 编辑</a> <a href=""><i class=""></i> 删除</a> </td>
                                </tr>
                            {% end %}
                            {% end %}
                        </tbody>
                    </table>
                </div>
                <ul id="page"></ul>
            </div>
            <!-- End .panel -->
        </div>
        <!-- col-lg-12 end here -->
    </div>

</div>
<!-- End .outlet -->

{-js-}
<script src="/static/admin/plugins/tables/datatables/jquery.dataTables.min.js"></script>
<script src="/static/admin/plugins/tables/datatables/jquery.dataTablesBS3.js"></script>
<script src="/static/admin/plugins/tables/datatables/tabletools/ZeroClipboard.js"></script>
<script src="/static/admin/plugins/tables/datatables/tabletools/TableTools.js"></script>
<script src="/static/admin/js/pages/data-tables.js"></script>
<script src="/static/admin/js/libs/bootstrap-paginator.js"></script>
<script type="text/javascript">
    var data = {
        currentPage : '{{condition.page}}',
        totalPage : '{{data.count}}'
    };
    function parse_url(url)
    {
        var obj = {}
        var urlArr = url.split('?');
        obj.path = urlArr[0];
        obj.params = {}
        if (urlArr[1]) {
            var tmp = urlArr[1].split('&');
            for (var i=0; i< tmp.length; i++) {
                var param = tmp[i].split('=');
                if (param[0] && param[1]) {
                    obj.params[param[0]] = param[1];
                }
            }
        }
        return obj;
    }

    function build_url(url, params)
    {
        var url_obj = parse_url(url);
        for (var k in params) {
            url_obj.params[k] = params[k];
        }
        var url = url_obj.path;
        if (params) {
            url += '?';
            for (var k in url_obj.params) {
                url += k+'='+url_obj.params[k]+'&';
            }
            url = url.substr(0, url.length-1);
        }
        return url;
    }
    var options = {
        bootstrapMajorVersion:3,
        currentPage: {{condition.page}},
        totalPages: 10,
        itemTexts: function (type, page, current) {
            switch (type) {
                case "first":
                    return "首页";
                case "prev":
                    return "上一页";
                case "next":
                    return "下一页";
                case "last":
                    return "尾页";
                case "page":
                    return page;
            }
        },
        tooltipTitles: function (type, page, current) {
            switch (type) {
                case "first":
                    return "跳转到首页";
                case "prev":
                    return "跳转到上一页";
                case "next":
                    return "跳转到下一页";
                case "last":
                    return "跳转到尾页";
                case "page":
                    return "跳转到第 " + page + " 页";
            }
        },
        pageUrl: function(type, page, current){
            return build_url(window.location.href, {page : page});
        },
        bootstrapTooltipOptions: {
            html: true,
            placement: 'bottom'
        }
    }



    $('#page').bootstrapPaginator(options);
</script>
{-js-}