<div class="home-post well clearfix">
    <div class="post-title underline clearfix">
        <a href="">
            <div class="pre-cat">
                <div class="pre-catinner btn">

                </div>
                <div class="pre-catarrow">
                </div>
            </div>
        </a>
        <h1>
            <a href=""></a>
        </h1>
        <div class="post-info">
            <span>
                <span class="glyphicon glyphicon-calendar"></span>
                2016-10-12
            </span>
            <span>
                <span class="glyphicon glyphicon-comment"></span>
                12
            </span>
            <span>
                <span class="glyphicon glyphicon-eye-open"></span>
                120
            </span>
            <div class="post-tags">

                <a href="/tags" class="hidden-xs ">
                    <span class="label  btn">美丽</span>
                </a>

                <a class="visible-xs-inline-block">
                    <span class="label label-vmaig-2 btn ">...</span>
                </a>

            </div>

        </div>
    </div>
    <div class="post-content">
        <div class="row">
            <div class="col-sm-4">
                <figure class="thumbnail">
                    <a href="">
                        <img src=""  height="300" alt="">
                    </a>
                </figure>
            </div>
            <div class="col-sm-8">
                <p>

                </p>
                <a type="button" class="btn btn-vmaig pull-right hidden-xs"  href="/">阅读全文</a>

            </div>
        </div>
    </div>
</div>
