<meta charset="utf-8">
<title>{% if title then %}　{{title}}　{% else %} 博客 {% end %}</title>
<meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
<meta name="keywords" content="{% if keywords then %} {{keywords}}{% end %}">
<meta name="description" content="{% if keywords then %} {{description}}{% end %}">
<link href="/static/images/favicon-2e71785f44.ico" rel="shortcut icon" type="image/x-icon" />
<link href="/static/images/favicon-2e71785f44.ico" rel="icon" type="image/x-icon" />
<!-- iconfont -->
<link href="/static/css/iconfont.css" rel="stylesheet" type="text/css" />
<!-- Theme style -->
<link href="/static/style/default/css/style.css" rel="stylesheet" type="text/css" />
<!-- layer style -->
<link href="/static/js/libs/layer/2.4/skin/layer.css" rel="stylesheet" type="text/css" />