<div class="pre-footer">
    <div class="container">
        <div class="row">
        </div>
    </div>
</div>
<div class="footer">
    <div class="container">
        <div class="row">
            <!-- BEGIN COPYRIGHT -->
            <div class="col-md-12 col-sm-12 padding-top-10">
                {% if footerbar then %}
                {% for _, f in pairs(footerbar) do %}
                {*f.content*}
                {% end %}
                {% end %}
            </div>
            <!-- END COPYRIGHT -->


        </div>
    </div>
</div>