<div id="vmaig-links">
    <div class="panel panel-vmaig">
        <div class="panel-heading">
            <h3 class="panel-title">
                <span class="glyphicon glyphicon-link"></span>
                    友情链接 
                <span class="glyphicon glyphicon-remove btn panel-close pull-right"></span>
                <span class="glyphicon glyphicon-chevron-up btn panel-collapse pull-right"  data-toggle="collapse" data-target="#links"></span>
            </h3>
        </div>
        <div id="links" class="padding10 list-group collapse in">

            <a title="/" target="_blank" href="/" class="btn btn-xs">游戏</a>

        </div>
    </div>
</div>
